<div class="wrap">
  <div>
    <h1>Publisher Settings</h1>
    <p>Below is list of authorizations for external services required to post quotes to them.</p>
  </div>

  <hr>
  <div>
    <h2>Tumblr</h2>
    {% if tumblr.isConfigured %}
      <p>
        <b>Consumer Key</b>: {{ tumblr.getData.consumer_key }}
        <br>
        <b>Consumer Secret</b>: {{ tumblr.getData.consumer_secret }}
      </p>
      {% if tumblr.isConnected %}
        <p>
          <b>OAuth Token</b>: {{ tumblr.getData.oauth_token }}
          <br>
          <b>OAuth Token Secret</b>: {{ tumblr.getData.oauth_token_secret }}
        </p>
        <p>
          <b>Logged in as</b>: {{ tumblr.getUserData.user.name }}
        </p>
      {% else %}
        <p>
          <a href="{{ tumblr.generateConnectURL }}" class="button button-primary">Connect to Tumblr</a>
        </p>
      {% endif %}
    {% else %}
      Tumblr API key and secret has not been provided. Please fill proper fields in <a href="<?php echo admin_url('admin.php?page=acf-options'); ?>">Options page</a> (API tab).
    {% endif %}
  </div>
</div>
