<script id="post-template" type="x-handlebars-template">
    {% raw %}
        <img src="{{image}}" alt="" class="preview__image">
        <div class="preview__details">
            <div class="preview__details__body">
                <p class="preview__details__body__change">
                    <a href="#" class="button button--change">Change&hellip;</a>
                </p>
                <p class="preview__details__body__or">
                    <span>or</span> <a href="{{blog_link}}" target="_new">see it on blog</a>
                </p>
            </div>
        </div>
    {% endraw %}
</script>

<script id="share-template" type="x-handlebars-template">
    {% raw %}
        <span class="share__label">Or share the wisdom:</span>
        <a href="http://facebook.com/sharer/sharer.php?u={{blog_link}}" class="share__link share__link--facebook" target="_new">
            <i class="fa fa-facebook"></i>
        </a>
        <a href="http://pinterest.com/pin/create/button/?url={{blog_link}}&amp;media={{blog_image}}" class="share__link share__link--pinterest" target="_new">
            <i class="fa fa-pinterest-p"></i>
        </a>
        <a href="http://twitter.com/intent/tweet?source=Ubermost&amp;text=&url={{blog_link}}" class="share__link share__link--twitter" target="_new">
            <i class="fa fa-twitter"></i>
        </a>
        {{#if reblog_link}}
            <a href="{{reblog_link}}" class="share__link share__link--tumblr" target="_new">
                <i class="fa fa-tumblr"></i>
            </a>
        {{/if}}
    {% endraw %}
</script>

<script id="posts-template" type="x-handlebars-template">
    {% raw %}
        {{#each posts}}
            <li>
                <a href="{{permalink}}" data-post-id="{{ID}}">
                    <img src="{{thumbnail}}" alt="">
                </a>
            </li>
        {{/each}}
    {% endraw %}
</script>
